.ui-dialog .ui-dialog-titlebar .ui-button {
    border-radius: 60px !important;
}

.ui-dialog .ui-dialog-titlebar:before {
    content: 'ENTITY BROWSER';
    font-size: 1.3em;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    display: none !important;
}

.ui-dialog .ui-dialog-titlebar .ui-button:hover {
    background-color: #00A8F6 !important;
}

button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close:before {
    content: 'X';
    color: black;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  top: 1rem !important;
  right: 1rem!important;
}
