.ui-dialog .ui-dialog-titlebar .ui-button {
    border-radius: 60px !important;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    font-size: 1.2em !important;
    font-family: unset !important;
    font-weight: bold !important;
}

.ui-dialog .ui-dialog-titlebar .ui-button:hover {
    background-color: #00A8F6 !important;
}

button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close:before {
    content: 'X';
    color: black;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
    top: 1rem !important;
    right: 1rem!important;
}
