{% block access %}
    <main id="main-content" class="main page-403" tabindex="-1">

        <div class="row">

            <div class="col-md-7">

                <h1 class="h1 page-title">{{ error.title }}</h1>

                {{ error.body | raw }}

            </div>
        </div>
    </main>
{% endblock access %}