$1<a href="{{ term_path }}" class="btn-ghost btn-glossary glossary-title" rel="popover" data-toggle="popover" data-trigger="focus" type="button" data-placement="top" data-html="true" aria-label=" {{ title }} " data-container="body">$2<span class="glossary-description">{{ description_tmp }}</span></a>
